@font-face {
    font-family: GlyphWorld-Meadow, GlyphWorld;
    src: url('GlyphWorld-Meadow.otf') format('otf');
    font-style: normal;
}

#wrapper{

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    padding: 0%;
    margin: 0%;
    width: 100%;

}

#main_name{
    background-color: #7CC0FF;
    width: 100%;
    height: 100vh;
    top: 50%;
    text-align: center;
}

button{
    width: 20vw;
    height: auto;
    font-size: 3vw;
    background-color: red;
    font-family: GlyphWorld-Meadow, GlyphWorld;


}

#name_insert{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    z-index: 2;
}

#name_info{
    font-size: 20px;
    color: white;
}

#title{
    width: auto;
    height: 50vh;
    font-family:GlyphWorld-Meadow, GlyphWorld; 

}

.random_game{
    width: 50vw;
    height: 50vh;
}

.rg_text{
    width: auto;
    height: 10vw;
}

.wrap{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hidden{
    display: none !important;
}

#apt_wrap{
    width: 100%;
    height: 100%;
    padding: 0%;
    margin: 0%;
    background-color: #419E20;
}

#point_wrap{
  background-color: #FF4949;
}

#fd_wrap{
    background-color: #FF7BF2;
}

#bang_wrap{
    background-color: black ;
}

#gamer{
    font-size: 30px;
    color: gold;
}